body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.slider-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.main-image {
    
    width:100%;
    /* max-width:800px; */
    height:auto;

    background-size: cover;
    background-position: center;
}

.thumbnails {
    position: absolute;
    top: 50%;
    right: 3rem; /* Adjust this value for the desired gap */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 100px;
    height: 100px;
    margin: 10px 0;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: i;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
