* {
    margin: 2px;
    padding: 2px;
}

p {
    color: aqua;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
    /* overflow-y: hidden; */


}

.throne-image {
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: 500px;
    height: 500px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
    cursor: pointer;
}

.house {
    /* border: 2px solid red; */
    width: 700px;
    height: 700px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    margin-top: 40px;

}

.stark {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 230px;
    top: 25px;
    animation: rotate 10s infinite linear;
    
    /* -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite; */
}
/* .stark img {
    transform: translate(-50%, -50%);
} */

/* .house{
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite ;
    animation: spin 1s linear infinite;
    
} */
/* @-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
} */



.lannister {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    left: 350px;
    top: -5px;
}

.tyrell {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 45px;
    left: 465px;
}

.baratheon {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 160px;
    left: 515px;
}

.targareyan {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 280px;
    left: 475px;
}

.tully {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 345px;
    left: 340px;
}

.greyjoy {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 290px;
    left: 200px;
}

.martell {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: block;
    position: absolute;
    top: 150px;
    left: 160px;
}
/* @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */