@font-face {
    font-family: got ;
    src: url(./Components/got.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: got;
}
a{
    text-decoration: none;
    color: white;
}
body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.459),rgba(0, 0, 0, 0.582)),url(./Components/OIG4.jpeg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}
.section1 img{
    width: 20vw;
}
nav ul a{
    font-size: 0.9rem;
    opacity: 0.9;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 1rem;
    transition: all 0.6s ease-in-out;
}
nav ul a:hover{
    opacity: 1;
    font-size: 1rem;
    border-bottom: 2px solid white;
    padding: 0.8rem;
}
nav h1{
    color: white;
    font-size: 1.5rem;
}
.center{
    /* height: 50vh; */
    margin: 4rem 10rem;
    font-size: 0.8rem;
    color: white;
    text-align: center;
}
.center img{
    width: 50vw;
    color: rgb(228, 213, 177);
}
.center p{
    font-size: 1.1rem ;
    font-weight: 600;
    font-family: "Gothic A1", sans-serif;
}
.banners_houses{
    background-image: linear-gradient(rgba(0, 0, 0, 0.568),rgba(0, 0, 0, 0.55)),url(./Components/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    color: white;
    padding: 8rem;
}
.banners_houses h1{
    font-size: 2.3rem;
}
.banners{
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 1rem;
    padding: 2rem;
}

.banners img{
    width: 80px;
    height: 250px;
    object-fit: cover;
    object-position: bottom;
}
.poster .ban_name{
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}
.character_image{
    width: 100vw;
    /* height: 120vh; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.758),rgba(0, 0, 0, 0.788)),url(./Components/image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0rem;

}
.character_image h1{
    color: white;
    text-align: center;
    font-size: 2rem;
}
.images_sec{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    padding: 1.5rem;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 3rem;
}
.images_sec::-webkit-scrollbar{
    visibility: hidden;
}
.image{
    height: 70vh;
    min-width: 20vw;
}
.image img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: grayscale(100%);

}
.image:nth-child(2n){
    transform: translateY(80px);
}
.image h3{
    color: white;
    font-size: 0.7rem;
    padding-top: 0.3rem;
    letter-spacing: 1px;
}
.buttons{
    margin: 2rem;
    display: flex;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.buttons a{
    border: 2px solid white;
    padding: 1rem 3rem;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}
.buttons a:hover{
    background-color: white;
    color: black;

}